
html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}
body{
    background-color: while;
    font-family: roboto, inter, Arial;
}

.container{
    max-width: 700px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    box-shadow: 5px 5px 10px rgba(153, 163, 255, 0.3);
    margin-bottom: 100px;
    margin-top: 150px;
    border-radius: 50px;
    border: 0px solid;
}



.block{
    border-radius: 40px;
    flex: 1;
    padding: 40px;
}
.elem1{
    background-color: rgb(51, 49, 182);
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}
.elem2{
    background-color: white;
}

.elem2 div{
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    
    
}

.elem2 h3{
    color: rgb(44, 44, 78);
}

.red{
    color: red;
}
.yellow{
    color: rgb(181, 181, 19);
}
.green{
    color: rgb(58, 182, 139);
}
.blue{
    color: blue;
}

.card{
    padding-left: 15px;
    padding-right: 15px;
    border: 0px white;
    border-radius: 8px;
    margin-bottom: 15px;
}

.reaction{
    background-color: rgb(255, 248, 248);
}

.memory{
    background-color: rgb(255, 255, 237);
}

.verbal{
    background-color: rgb(240, 255, 240);
}
.visual{
    background-color: rgb(231, 249, 255);
}


.btn{
    color: white;
    background-color: rgb(44, 44, 78);
    border: 0px white;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 500;

}

span { 
    margin-left: 7px;
}

.score{
    font-weight: bold;
    font-size: 15px;

}
.grey{
    color: lightgray;
    font-weight: 700;
}

#of100{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgb(156, 156, 156);
}
.main-score{
    background-color: rgb(50, 50, 206);
    border: 0 ;
    border-radius: 100%;
    padding: 10px;
    margin: 0 auto;
}


.results{
    color: rgb(199, 199, 199);
    font-weight: 500;
}

.great{
    font-weight: 500;
    font-size: 25px;
}
.par{
    color: rgb(163, 163, 163);
}

.big-num{
    height: 60;
    font-weight: bolder;
    font-size: 70px;
    border: 0;
    
}

@media (max-width: 776px) {
    .container{
        display: block;
    }
    body{
        padding: 30px;
    }
}